<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    </link>
</head>

<body>
<div class="wrapper">
    <div class="top-banner">
        <div class="logo"> LOGO HERE</div>
        <div class="settings"> SETTING</div>
        <div class="login">LOGIN</div>
    </div>
    <div class="flat-title">
        <div class="user-photo"> PHOTO HERE </div>
        <div class="user-desc">
            <div class="rent"> <%= rent %> p/week</div>
            <div class="address"> <%= address %></div>
            <div class="bedrooms"> <%= numRooms %></div>
            <div class="bathrooms"> <%= numBathRooms %></div>
            <div class="contact"> CONTACT </div>
        </div>
        <div class="flat-info">
            <div class="flat-suburb"> <%= flatSuburb %> </div>
            <div class="flat-name"> <%= flatName %> </div>
        </div>
    </div>
    <div class="photos">
        <table>
            <% for(var i = 0; i < photos.length; i++){ %>
                <tr>
                    <td><%= photos[i] %></td>
                </tr>
            <% } %>
        </table>
    </div>
    <div class="flat-more-info">
        <div class="info"></div>
    </div>
</div>
</body>
</html>
