<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </link>
  </head>

  <body>
    <div class="wrapper">
      <div class="top-banner">
        <div class="logo"> LOGO HERE</div>
      </div>
      <div class="flat-title">
        <div class="user-photo"> PHOTO HERE </div>
        <div class="flat-info">

        </div>
        <div class="flat-address"> <%= flatAddress %> </div>
        <div class="flat-name"> <%= flatName %> </div>

      </div>
      <div class="desc"> <%= flat-description%></div>
    </div>
  </body>
</html>
