<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    </link>
    
    <!-- Bootstrap Core CSS -->
    <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet">

    
</head>

<body>
<div class="wrapper">
    <div class="top-banner">
        
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo"> LOGO HERE</div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div> 
        
        
        <div class="login">LOGIN</div>
    </div>
    <div class="flat-title">
        <div class="user-photo"> PHOTO HERE </div>
        <div class="user-desc">
            <div class="preferred-suburb"> <%= address %></div>
            <div class="prefered-rent-range"> <%= rent %> p/week</div>
            <div class="prefered-gender"> <%= gender %></div>
            <div class="occupation-details"> <%= occupationDetails %></div>
            <div class="extra-details"> <%= extraDetails %> </div>
            <div class="contact"> CONTACT </div>
        </div>
        <div class="flat-info">
            <div class="profile-name"> <%= userName %> </div>
            <div class="profile-age"> <%= userAge %> </div>
            <div class="profile-occupation"> <%= userOccupation %> </div>
        </div>
    </div>
    <div class="genius-playlist">
        GENIUS PLAYLIST
        <table>
            <% for(var i = 0; i < songs.length; i++){ %>
            <tr>
                <td><%= songs[i].title %></td>
                <td><%= songs[i].artist %></td>
                <td><%= songs[i].album %></td>
            </tr>
            <% } %>
        </table>
    </div>
    <div class="spotify-info">
        SOME GRAPHS

    </div>
</div>
</body>
</html>
