body {
  padding-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
  color: white;
}

.outer-container {
  background-color: aqua;
}

.candidate-wrapper {
  margin:10px 10px;
  background-color: blueviolet;
  width:30%;
  display: inline-block;
  vertical-align: top;
}

.candidate-wrapper.candidate-photo {

}

.candidate-photo-image {
  width:100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.candidate-info {
  background-color: black;
  display: inline-block;
  vertical-align: top;
  color: darkgreen;
  text-align: center;
  font-size: 25px;
  width:100%;
  height: 200%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.candidate-name {
  background-color: darkred;
  width:48%;
  horiz-align: left;
}

.candidate-match {
  background-color: darkgoldenrod;
  width:48%;
  horiz-align: right;
}
