<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>

  </head>

  <body>

    <header>
      <% include ../partials/header.ejs %>

    </header>

    <main>
      <div>
        <p>
          'Hello<br><a href="/auth">Log in with Spotify</a>'
        </p>
      </div>
    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>

  </body>
</html>
