<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/homepage_style.css"> </link>
    <p> </p>
    <p> </p>
    <p> </p>
  </head>

  <body>
    <header>

    </header>

    <div class="whole-container">
      <img src="homepage_flat-abilitylogotop.png" class="top-logo"></img>
      <div class="inner-container">
        <img src="homepage_music_icon.png" class="display-block"></img>
        <img src="homepage_flat-abilitytitle.png" class="display-block"></img>
        <img src="homepage_find_your_flat_match.png" class="display-block"></img>
        <a href="/auth">
          <img src="homepage_tryout.png" class="display-block"></img>
        </a>
      </div>
    </div>

    <footer>

    </footer>

  </body>
</html>
