<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </link>
</head>

<body>
<div class="wrapper">
    <div class="top-banner">
        <div class="logo"> LOGO HERE</div>
        <div class="settings"> SETTING</div>
        <div class="login">LOGIN</div>
    </div>
    <div class="flat-title">
        <div class="user-photo"> PHOTO HERE <img src="/images/nina.jpg"> </div>
        <div class="user-desc">
            <div class="preferred-suburb"> <%= address %></div>
            <div class="prefered-rent-range"> <%= rent %> p/week</div>
            <div class="occupation-details"> <%= occupationDetails %></div>
            <div class="extra-details"> <%= extraDetails %> </div>
            <div class="contact"> CONTACT </div>
        </div>
        <div class="flat-info">
            <div class="profile-name"> <%= userName %> </div>
            <div class="profile-age"> <%= userAge %> </div>
            <div class="profile-occupation"> <%= userOccupation %> </div>
        </div>
    </div>
    <div class="genius-playlist">
        GENIUS PLAYLIST
        <table>
            <% for(var i = 0; i < songs.length; i++){ %>
            <tr>
                <td><%= songs[i].name %></td>
                <td><%= songs[i].artists %></td>
                <td><%= songs[i].album %></td>
            </tr>
            <% } %>
        </table>
    </div>
    <div class="spotify-info">
        SOME GRAPHS

    </div>
</div>
</body>
</html>
